In [35]:
f = open("새파일.txt", "w")
f.close()

In [36]:
f.close()

In [37]:
f = open("./webdriver/안녕.txt","w")
f.close()

In [38]:
f = open("기초용어.txt","a")
for i in range(1,11):
    data = f"여기는 {i}번째 줄이오.\n"
    f.write(data)
f.close()

In [39]:
for i in range(1,11):
    data = f"여기는 {i}번째 줄이오."
    print(data)

여기는 1번째 줄이오.
여기는 2번째 줄이오.
여기는 3번째 줄이오.
여기는 4번째 줄이오.
여기는 5번째 줄이오.
여기는 6번째 줄이오.
여기는 7번째 줄이오.
여기는 8번째 줄이오.
여기는 9번째 줄이오.
여기는 10번째 줄이오.

In [40]:
f=open("read연습.txt","w")
for i in range(1,11):
    data = f"이것은 {i}번째 줄입니다.\n"
    f.write(data)
f.close()

In [41]:
f = open("read연습.txt","r")
g = f.readline()
print(g)
f.close()

이것은 1번째 줄입니다.

In [42]:
f = open("read연습.txt", "r")
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

while True:
    data = input()
    if not data: break
    print(data)

이것은 1번째 줄입니다.

이것은 2번째 줄입니다.

이것은 3번째 줄입니다.

이것은 4번째 줄입니다.

이것은 5번째 줄입니다.

이것은 6번째 줄입니다.

이것은 7번째 줄입니다.

이것은 8번째 줄입니다.

이것은 9번째 줄입니다.

이것은 10번째 줄입니다.

In [43]:
while True:
    g = input()
    if not g: break
    print(g)

In [44]:
f= open("기초용어.txt","r")
print(f.readline())
f.close()

여기는 1번째 줄이오.

In [45]:
while True:
    data = input()
    if not data: break
    print(data)

In [46]:
f = open("read연습.txt", 'r')
lines = f.readlines()
for line in lines:
    print(line.strip())
f.close()

이것은 1번째 줄입니다.
이것은 2번째 줄입니다.
이것은 3번째 줄입니다.
이것은 4번째 줄입니다.
이것은 5번째 줄입니다.
이것은 6번째 줄입니다.
이것은 7번째 줄입니다.
이것은 8번째 줄입니다.
이것은 9번째 줄입니다.
이것은 10번째 줄입니다.

In [47]:
a=open("./read연습.txt","r")
print(a.read())
a.close

이것은 1번째 줄입니다.
이것은 2번째 줄입니다.
이것은 3번째 줄입니다.
이것은 4번째 줄입니다.
이것은 5번째 줄입니다.
이것은 6번째 줄입니다.
이것은 7번째 줄입니다.
이것은 8번째 줄입니다.
이것은 9번째 줄입니다.
이것은 10번째 줄입니다.

In [48]:
with open("./read연습.txt","a") as f:
    yo = "연습용"
    f.write(yo)

In [49]:
#Q1.

def is_odd(a):
    if a%2 == 0:
        return("짝수")
    elif a%2 != 0:
        return("홀수")

In [50]:
is_odd(5)

'홀수'

In [51]:
a=is_odd(5)

print(a)

홀수

In [52]:
def ave(*score):
    aver = 0
    for i in score:
        aver += i
    return(aver/len(score))

In [53]:
def ave2(*score2):
    return sum(score2)/len(score2)

In [54]:
qwer = ave2(78,95,78,12,45,86,78)

In [55]:
print(qwer)

67.42857142857143

In [56]:
input1 = int(input("첫번째 숫자를 입력하세요:"))
input2 = int(input("두번째 숫자를 입력하세요:"))

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

두 수의 합은 9 입니다

In [57]:
f1 = open("test.txt", 'w')
data = "life is too short"
f1.write(data)

f2 = open("test.txt", 'r')
print(f2.read())

In [58]:
f1.close()
f2.close()

In [59]:
f1 = open("text.txt", 'w')
f1.write("Life is too short")
f1.close()

f2 = open("text.txt", 'r')
print(f2.read())
f2.close()

Life is too short

In [60]:
with open("text.txt", 'w') as f1:
    f1.write("Life is too short")

with open("text.txt", 'r') as f2:
    print(f2.read())

Life is too short

In [61]:
with open("e.txt","a", encoding='utf-8') as t:
    data = input()
    t.write(data+'\n')

In [62]:
with open("e.txt","r") as y:
    u=y.readlines()

In [63]:
with open("e.txt","w") as y:
    for i in u:
        y.write(i.replace('java', 'python'))

In [64]:
with open("e.txt","w") as y:
    for i in u:
        y.write(i.replace('python', 'java'))

In [65]:
import pandas as pd

In [1]:
from pandas import *

In [2]:
data = read_csv('c:/test/csvtest1.csv')

In [3]:
data

         응답일시 응답자ID        응답내용  1차 평가점수  2차 평가점수  종합평가점수 2차평가개선여부 2차평가악화여부
0  2021-10-11    a1  축평원 준비할거임.       99       98   197.0        N        Y
1  2021-10-12    a2    딥러닝 할거임.       88       87   175.0        N        Y
2  2021-10-13    a3  테크노파크 갈거임.       77       76   153.0        N        Y
3  2021-10-14    a4      사업할거임.       66       65   131.0        N        Y

In [ ]:
data = pd.read_excel("제목 없는 설문지(응답).xlsx")

In [70]:
data

         응답일시 응답자ID        응답내용  1차 평가점수  2차 평가점수  종합평가점수 2차평가개선여부 2차평가악화여부
0  2021-10-11    a1  축평원 준비할거임.       99       98   197.0        N        Y
1  2021-10-12    a2    딥러닝 할거임.       88       87   175.0        N        Y
2  2021-10-13    a3  테크노파크 갈거임.       77       76   153.0        N        Y
3  2021-10-14    a4      사업할거임.       66       65   131.0        N        Y

In [71]:
address = {'현재 주소':'제주시 아라동 인다 2길 70 조은빌 301호'}

In [72]:
address['구주소']='성산읍 한도로 256'

In [73]:
address

{'현재 주소': '제주시 아라동 인다 2길 70 조은빌 301호', '구주소': '성산읍 한도로 256'}

In [ ]:
class Address:
    def __init__(self, old_address, new_address):
        self.old_address=old_address
        self.new_address=new_address
    def print_address(self):
        print(f"신주소는 {self.new_address}이고, 구주소는 {self.old_address}입니당.")

In [ ]:
hs=Address('한도로', '인다마을')

In [ ]:
hs.old_address

'한도로'

In [ ]:
hs.print_address()

신주소는 인다마을이고, 구주소는 한도로입니당.

In [ ]:
bc=Address('a','b')

In [ ]:
bc.print_address()

신주소는 b이고, 구주소는 a입니당.

In [ ]:
def pr(a,b):
    return(f"신주소는 {a}이고, 구주소는 {b}입니당.")

In [ ]:
khs = pr('루히', '로히')

In [ ]:
khs

'신주소는 루히이고, 구주소는 로히입니당.'

In [ ]:
print(khs)

신주소는 루히이고, 구주소는 로히입니당.

In [ ]:
class Calculator:
    def __init__(self, a, b):
        self.a = a
        self.b = b
        print('yeah')
    def add(self):
        return self.a+self.b
    def mul(self):
        return self.a*self.b
    def min(self):
        return self.a-self.b
    def div(self):
        return self.a/self.b

In [ ]:
a= Calculator(2,3)

In [ ]:
class FourCal:
    pass

In [ ]:
a=FourCal()
type(a)

__main__.FourCal

In [ ]:
print(type(a))

<class '__main__.FourCal'>

In [ ]:
class FourCal:
    def setdata(self, first, second):
        self.first=first
        self.second = second

In [ ]:
a=FourCal()
a.setdata(4,2)

In [ ]:
print(a.first)
print(a.second)

4
2

In [ ]:
a=FourCal()
b=FourCal()

In [ ]:
a.setdata(4,2)
b.setdata(3,7)

In [ ]:
print(a.first)
print(b.first)

4
3

In [ ]:
print(a.first)

4

In [ ]:
class FourCal:
    def __init__(self, first, second):
        self.first=first
        self.second=second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        return self.first * self.second
    def sub(self):
        return self.first - self.second
    def div(self):
        return self.first / self.second

In [ ]:
a = FourCal(3,5)
print(a.add())
print(a.sub())
print(a.div())
print(a.mul())

8
-2
0.6
15

In [ ]:
a.first

3

In [ ]:
class Joker(FourCal):
    pass

In [ ]:
class Joker(FourCal):
    def pow(self):
        return self.first ** self.second

In [ ]:
a=Joker(7,9)

In [ ]:
a.add()
a.pow()

40353607

In [ ]:
t= FourCal(4,3)

In [ ]:
t.add()

7

In [ ]:
a=FourCal(4,0)
a.add()

4

In [ ]:
class SafeFourCal(FourCal):
    def div(self):
        if self.first ==0:
            return 0
        elif self.second ==0:
            return 0
        else:
            return 'forTest'

In [ ]:
a = SafeFourCal(4,3)
a.div()

In [ ]:
class SafeFourCal(FourCal):
    def div(self):
        if self.first ==0:
            return 0
        elif self.second ==0:
            return 0
        else:
            return self.first / self.second