# python 공부 시작

##  무한루프

In [ ]:
n = 10000
while True:
    i=n
    while i != 0:        
        print('a')
        i -= 1
    i=n
    while i != 0: 
        print('b')
        i -= 1
    i=n
    while i != 0: 
        print('c')
        i -= 1

# for_range

In [11]:
a=range(10)
a
print(a)

range(0, 10)

In [13]:
range(0,10)

range(0, 10)

In [21]:
add=0
for i in range(1,11):
    add += i
    print(add)

1
3
6
10
15
21
28
36
45
55

In [22]:
add=0
for i in range(1,11):
    add += i
    
print(add)

55

In [23]:
sum([i for i in range(1, 11)])

55

In [32]:
marks = [90,25,67,45,80]

for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [58]:
for i in range(2,10):
    for j in range(1,9):
        print(i*j, end="   ")
    print()

2   4   6   8   10   12   14   16
3   6   9   12   15   18   21   24
4   8   12   16   20   24   28   32
5   10   15   20   25   30   35   40
6   12   18   24   30   36   42   48
7   14   21   28   35   42   49   56
8   16   24   32   40   48   56   64
9   18   27   36   45   54   63   72

# for_리스트 comprehension

In [62]:
a=[1,2,3,4]
result = []
for num in a:
    result.append(num*3)

print(result)

[3, 6, 9, 12]

In [85]:
b=[1,2,3,4]
results = [nums*4 for nums in b]
print(results)

[4, 8, 12, 16]

In [88]:
resultss = [c * 3 for c in b]

[3, 6, 9, 12]

변수 = [표현식 for 항목 in 반복가능객체 if 조건문]

In [81]:
a=[1,2,3,4]
result = [bb * 3 for bb in a if bb % 2 == 0]
print(result)

[6, 12]

In [78]:
resultss = [c * 3 for c in b]
print(resultss)

[3, 6, 9, 12]

In [89]:
result = [x*y for x in range(2,10)
              for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [ ]:
#Q1

#"shirt" - if문은 처음으로 참이 나오면 그게 출력. 끝.

In [130]:
#Q2

a=1
b=0
while a <= 1000:
    if a%3 == 0:
        b=b+a
    a+=1
print(b)

166833

In [147]:
#Q3.

a=0
while a != 8:
    a += 1
    print('*'*a)

*
**
***
****
*****
******
*******
********

In [145]:
#Q4.

for i in range(1,101):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [148]:
#Q5.

A = [70,60,55,75,95,90,80,80,85,100]
b = 0
for i in A:
    b = b+i
average = b/len(A)
print(average)

79.0

In [144]:
#Q6.

numbers = [1,2,3,4,5]
result = []
result = [n*2 for n in numbers if n%2 == 1]
print(result)

[2, 6, 10]

In [146]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

In [157]:
def a(x,y):
    print('이거는 가비지')
    return 777

a(8,9)

이거는 가비지

777

In [165]:
def square(x, y):
    print(x**y)
    print(x+y)
    return x**y

In [166]:
print(square(3,5))

243
8
243

In [177]:
a = int(input("변의 길이:"))
for i in range(a):
    i += 1
    print('*'*i)

area = (i*i)/2
print('삼각형 넓이:',area)

*
**
***
****
*****
******
*******
삼각형 넓이: 24.5

In [180]:
def triangle():
    a = int(input("변의 길이:"))
    for i in range(a):
        i += 1
        print('*'*i)
        
    area = (i*i)/2
    print('삼각형 넓이:',area)

In [181]:
triangle()

*
**
***
****
*****
******
*******
********
삼각형 넓이: 32.0

In [182]:
import random

In [191]:
num = random.randint(1,10)
print(num)

4

In [216]:

a = random.randint(1,10)
print(a)

7

In [235]:
ans = ['kicker', 'onebottlekick', 'hogart cto','hogartcto']

print(ans)

['kicker', 'onebottlekick', 'hogart cto', 'hogartcto']

In [229]:
while True:
    user = input("병찬이의 별명은?' ' ")
    if user == ans[0]:
        print("팩팩 팩트로 폭행해 팩팩 팩트로 폭행해")
    elif user == ans[1]:
        print("ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ홀리몰리")
    elif user == ans[2]:
        print("홀리뱅뱅뱅")
        break
    else:
        print(("잘 생각해보소 쉬워"))
        continue

잘 생각해보소 쉬워
잘 생각해보소 쉬워
잘 생각해보소 쉬워
팩팩 팩트로 폭행해 팩팩 팩트로 폭행해
ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ홀리몰리
홀리뱅뱅뱅

In [236]:
def quiz():
    while True:
        user = input("병찬이의 별명은?' ' ")
        if user == ans[0]:
            print("팩팩 팩트로 폭행해 팩팩 팩트로 폭행해")
        elif user == ans[1]:
            print("ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ홀리몰리")
        elif user == ans[3]:
            print("띄어쓰기에 유의하시오.")
        elif user == ans[2]:
            print("홀리뱅뱅뱅")
            break
        else:
            print(("잘 생각해보소 쉬워"))
            continue

In [237]:
quiz()

띄어쓰기에 유의하시오.
팩팩 팩트로 폭행해 팩팩 팩트로 폭행해
ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ홀리몰리
잘 생각해보소 쉬워
홀리뱅뱅뱅

In [240]:
type(1.5)

float

In [241]:
type(1)

int

In [242]:
a=100
type(a)

int

In [245]:
float(a)
type(float(a))

float

In [246]:
type(a)

int

In [2]:
def triangle():
    a = int(input("변의 길이:"))
    for i in range(a):
        i += 1
        print('*'*i)
        
    area = (i*i)/2
    print('삼각형 넓이:',area)

triangle()

*
**
***
****
*****
******
*******
삼각형 넓이: 24.5

In [3]:
tt = triangle()

*
**
***
****
*****
******
*******
삼각형 넓이: 24.5

In [4]:
print(tt)

None

In [5]:
def apply(name, old, man=True):
    print(f"저의 이름은 {name}입니다.")
    print(f"나이는 {old}살입니다.")
    
    if man == True:
        print("그리고 남자입니다.")
    elif man == False:
        print("그리고 여자입니다.")

In [7]:
apply('김현수', 25, True)

저의 이름은 김현수입니다.
나이는 25살입니다.
그리고 남자입니다.

In [9]:
apply("현수", 25, False)

저의 이름은 현수입니다.
나이는 25살입니다.
그리고 여자입니다.

In [6]:
ttt = input()

In [7]:
print(ttt)

hello